<div class="sidebar-type">
  <div class="said-bar-link">
    <%= link_to "ドスパラ", "https://www.dospara.co.jp/", :target=>["_blank"], class: :side_bar_name %>
  </div>
  <div class="said-bar-link">
    <%= link_to "マウスコンピューター", "https://www.mouse-jp.co.jp/", :target=>["_blank"], class: :side_bar_name %>
  </div>
  <div class="said-bar-link">
    <%= link_to "パソコン工房", "https://www.pc-koubou.jp/", :target=>["_blank"], class: :side_bar_name %>
  </div>
  <div class="said-bar-link">
    <%= link_to "YouTube", "https://www.youtube.com", :target=>["_blank"], class: :side_bar_name %>
  </div>
  <div class="said-bar-link">
    <%= link_to "Amazon", "https://www.amazon.co.jp", :target=>["_blank"], class: :side_bar_name %>
  </div>
  <div class="said-bar-link">
    <%= link_to "利用規約", "#", class: :side_bar_name %>
  </div>
  <div class="said-bar-link">
    <%= link_to "利用方法とルール", "#", class: :side_bar_name %>
  </div>
  <div class="said-bar-link">
    <%= link_to "プライバシーポリシー", "#", class: :side_bar_name %>
  </div>
  <div class="said-bar-link">
    <%= link_to "お問い合わせ", "#", class: :side_bar_name %>
  </div>
</div>