<%= render "shared/header" %>

<div class='item-contents'>
  <div class="sidebar">
    <%= render "side_bar" %>
  </div>
  <div class="main">
    <div class='title'>
      <h1>ピックアップカテゴリー</h1>
    </div>
    <div class="post_title">
      <%= link_to "投稿", new_game_title_path, class: :game__title %>
    </div>
    <div class="card__wrapper">
      <% @game_title.each do |game_title| %>
      <div class="card">
        <%= link_to image_tag(game_title.image, class: :card__img), game_title_path(game_title.id) %>
        <div class="card__body">
          <%= link_to game_title.game_title, game_title_path(game_title.id), class: :card__title %>
          <% if user_signed_in? %>
          <% if current_user.already_favorited?(game_title) %>
            <%= link_to 'いいね', game_title_favorites_path(game_title), method: :delete, class: :evaluation_btn_dele %>
          <% else %>
            <%= link_to 'いいね', game_title_favorites_path(game_title), method: :post, class: :evaluation_btn_po %>
          <% end %>
          <% end %>
          <%= game_title.favorites.count %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
<%= render "shared/footer" %>

