<%= render "shared/header" %>

<div class="game-shows">
  <div class="game_title-show">
    <div class="game_title-img">
      <%= image_tag @game_title.image ,class:"title-box-img" %>
    </div>

    <% if user_signed_in? %>
    <% if current_user.id == @game_title.user_id %>
    <div class="item-btn">
      <%= link_to "編集", edit_game_title_path(@game_title.id), class: "item-edit-btn" %>
      <%= link_to "削除", game_title_path(@game_title.id), method: :delete, class:"item-destroy" %>
    </div>
    <% end %>
    <% end %>

    <div class="game-box">
      <div class="game-title-box">
        <span class="game-title">
          <%= @game_title.game_title %>
        </span>
      </div>

      <div class="game-info-box">
        <h1 class="heading"><%= "#{@game_title.game_title}のおすすめポイント！" %></h1>
        <div class="game-description-text">
          <div class="game-description"><%= safe_join(@game_title.game_info.split("\n"),tag(:br)) %></div>
        </div>
      </div>

      <div class="recommended-pc-box">
        <h1 class="heading">これ買っておけば楽々遊べるPC名</h1>
        <div class="game-description-text">
          <div class="game-description"><%= safe_join(@game_title.recommended_pc.split("\n"),tag(:br)) %></div>
        </div>
      </div>

      <div class="monthly-fee-box">
        <h1 class="heading">月額料金</h1>
        <div class="game-description-text">
          <div class="game-description"><%= safe_join(@game_title.monthly_fee.split("\n"),tag(:br)) %></div>
        </div>
      </div>
    </div>
  </div>

  <div class="link-box">
    <% if user_signed_in? %>
    <% if current_user.already_favorited?(@game_title) %>
    <div class="evaluation">
      <%= link_to 'いいね', game_title_favorites_path(@game_title), method: :delete, class: :evaluation_btn_delete %>
    </div>
    <% else %>
    <div class="evaluation">
      <%= link_to 'いいね', game_title_favorites_path(@game_title), method: :post, class: :evaluation_btn_post %>
    </div>
    <% end %>
    <% end %>
    <div class="evaluation_count"><%= @game_title.favorites.count %></div>
  
  

    <div class="show-links">
      <div class="show-link">
        <%= link_to "ドスパラ", "https://www.dospara.co.jp/", :target=>["_blank"], class: :side_bar_name %>
      </div>
      <div class="show-link">
        <%= link_to "マウスコンピューター", "https://www.mouse-jp.co.jp/", :target=>["_blank"], class: :side_bar_name %>
      </div>
      <div class="show-link">
        <%= link_to "パソコン工房", "https://www.pc-koubou.jp/", :target=>["_blank"], class: :side_bar_name %>
      </div>
      <div class="show-link">
        <%= link_to "YouTube", "https://www.youtube.com", :target=>["_blank"], class: :side_bar_name %>
      </div>
      <div class="show-link">
        <%= link_to "Amazon", "https://www.amazon.co.jp", :target=>["_blank"], class: :side_bar_name %>
      </div>
      <div class="show-link">
        <%= link_to "Twitter", "https://twitter.com", :target=>["_blank"], class: :side_bar_name %>
      </div>
    </div>
  </div>
  <div class="game_title_comments">
    <% if user_signed_in? %>
    <%= form_with(model: [@game_title, @comment], local: true) do |f|%>
      <div class="field">
        <%= f.label :text, "コメント", class: :comment_info %><br />
        <%= f.text_area :text, class: :comment_text %>
      </div>
      <div class="actions">
        <%= f.submit "送信する", class: :"comment-btn" %>
      </div>
    <% end %>
    <% else %>
      <div class="comment-sign-out">※コメント機能はサインインしたら利用できます</div>
    <% end %>
    
    <ul class="comments_lists">
      <% @comments.each do |comment| %>
      <li class="comments_list">
        <div class="comment-text"><%= safe_join(comment.text.split("\n"),tag(:br)) %></div>
        <div><%= "by #{comment.user.nickname}" %></div>
      </li>
      <% end %>
    </ul>
  </div>
</div>